@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-gray-0: #f5f7f9;
  --color-gray-50: #e3e6e8;
  --color-gray-100: #cbcfd2;
  --color-gray-200: #abd3b8;
  --color-gray-300: #9ba1a9;
  --color-gray-400: #777c82;
  --color-gray-500: #63676b;
  --color-gray-600: #4c5054;
  --color-gray-700: #2c3236;
  --color-gray-800: #1e2125;
  --color-gray-900: #101213;
  --color-primary: #826ee6;
  --color-primary-variant: #229de9;
  --color-danger: #df4969;
  --color-success: #1ca5a5;
  --color-info: #ffcd56;
  --color-purple: rgba(166, 27, 191);

  /* https://youtu.be/Q-CAX44u4Ss?t=1350 */

  --transition: all 300ms ease;

  --radius-1: 0.4rem;
  --radius-2: 0.8rem;
  --radius-3: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: "border-box";
  list-style: none;
  outline: 0;
  background: transparent;
}

body {
  font-family: "Montserrat", "sans-serif";
  max-width: 100vw;
  background: var(--color-gray-50);
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--color-gray-600);
  line-height: 1.6;
  transition: var(--transition);
}

a {
  color: var(--color-gray-600);
  transition: var(--transition);
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-gray-900);
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}


/* =========== SIDEBAR =========== */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 97vh;
  justify-content: space-between;
  min-width: fit-content;
  width: 12rem;
}

.sidebar__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/* https://youtu.be/Q-CAX44u4Ss?t=2106 buradayız */